In [1]:
import pandas as pd

In [2]:
bike = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(bike)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [3]:
display(bike[bike['start station id'] == 3705])

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
173,2018-09-01 00:11:20.0300,2018-09-01 00:18:42.3620,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,223.0,W 13 St & 7 Ave,40.737815,-73.999947,32964,Subscriber,2000,1
182,2018-09-01 00:11:40.0540,2018-09-01 00:29:23.3560,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,34702,Subscriber,1995,2
703,2018-09-01 00:53:15.2760,2018-09-01 01:20:30.6530,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,32751,Subscriber,1985,1
1091,2018-09-01 01:33:28.5340,2018-09-01 01:44:44.2320,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,462.0,W 22 St & 10 Ave,40.746920,-74.004519,33967,Subscriber,1993,1
1099,2018-09-01 01:34:07.4930,2018-09-01 02:20:48.8450,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,467.0,Dean St & 4 Ave,40.683125,-73.978951,17342,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298004,2018-09-05 18:51:44.6800,2018-09-05 18:59:06.6120,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,223.0,W 13 St & 7 Ave,40.737815,-73.999947,30429,Subscriber,1992,0
298262,2018-09-05 18:53:49.5100,2018-09-05 19:31:30.1960,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,504.0,1 Ave & E 16 St,40.732219,-73.981656,18818,Subscriber,1996,1
298643,2018-09-05 18:56:53.4650,2018-09-05 19:13:08.0150,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,349.0,Rivington St & Ridge St,40.718502,-73.983299,31319,Subscriber,1973,1
298805,2018-09-05 18:57:58.1000,2018-09-05 19:03:40.6340,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,265.0,Stanton St & Chrystie St,40.722293,-73.991475,25306,Subscriber,1953,1
299816,2018-09-05 19:06:49.7310,2018-09-05 19:25:26.2130,3705.0,Thompson St & Bleecker St,40.728401,-73.999688,446.0,W 24 St & 7 Ave,40.744876,-73.995299,28965,Subscriber,1975,1

In [4]:
display(bike['end station id'].describe())

count    299831.000000
mean       1684.624298
std        1457.549589
min          72.000000
25%         387.000000
50%         519.000000
75%        3282.000000
max        3705.000000
Name: end station id, dtype: float64

In [8]:
#bike.drop(['start station id', 'end station id'],axis=1, inplace=True)
display(bike)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [9]:
age = 2018 - bike['birth year']
display(age)

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: birth year, Length: 300000, dtype: int64

In [10]:
bike['age'] = age
bike.drop(['birth year'],axis=1, inplace=True)
display(bike)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [15]:
display(bike[bike['age']>60]['age'].count())

11837

In [24]:
trip_duration = pd.to_datetime(bike['stoptime'])-pd.to_datetime(bike['starttime'])
display(trip_duration.dt.seconds/60)

0          27.250000
1           2.200000
2          55.616667
3           7.266667
4         140.950000
             ...
299995      7.383333
299996     11.550000
299997      5.200000
299998     56.000000
299999      3.750000
Length: 300000, dtype: float64

In [29]:
weekend=pd.to_datetime(bike['starttime']).dt.dayofweek
bike['weekend'] = weekend.apply(lambda x: 1 if (x==5 or x==6) else 0)
display(bike['weekend'].value_counts())

weekend
0    184865
1    115135
Name: count, dtype: int64

In [31]:
time_of_day = pd.to_datetime(bike['starttime']).dt.hour
def tod (hours):
    if hours >=0 and hours <=6:
        return 'night'
    elif hours <=12:
        return 'morning'
    elif hours <=18:
        return'day'
    else:
        return 'evening'

bike['time_of_day'] = time_of_day.apply(tod)
display(bike['time_of_day'].value_counts())

time_of_day
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64