In [1]:
import pandas as pd

In [16]:
covid_data = pd.read_csv('data/covid_data.csv')
display(covid_data.head())

         date province/state country  confirmed  deaths  recovered
0  01/22/2020          Anhui   China        1.0     0.0        0.0
1  01/22/2020        Beijing   China       14.0     0.0        0.0
2  01/22/2020      Chongqing   China        6.0     0.0        0.0
3  01/22/2020         Fujian   China        1.0     0.0        0.0
4  01/22/2020          Gansu   China        0.0     0.0        0.0

In [29]:
vaccinations_data = pd.read_csv('data/country_vaccinations.csv')
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]
display(vaccinations_data.head())

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [17]:
covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()

In [18]:
covid_data['date'] = pd.to_datetime(covid_data['date'])

In [19]:
covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']

In [21]:
covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()
covid_data.head()

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered
11337,2020-02-24,Afghanistan,1.0,0.0,0.0,1.0,NaN,NaN,NaN
11570,2020-02-25,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
11807,2020-02-26,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12051,2020-02-27,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0
12299,2020-02-28,Afghanistan,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [30]:
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

In [23]:
covid_data['date'].sort_values().value_counts()

date
2021-05-29    194
2021-02-22    194
2021-02-24    194
2021-02-25    194
2021-02-26    194
             ...
2020-01-23     17
2020-01-26     16
2020-01-25     15
2020-01-24     12
2020-01-22      9
Name: count, Length: 494, dtype: int64

In [31]:
vaccinations_data.sort_values(by='date')

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
28893,Norway,2020-12-02,0.0,0.0,0.00,NaN,NaN,NaN,"Moderna, Pfizer/BioNTech"
28894,Norway,2020-12-03,0.0,0.0,0.00,NaN,NaN,0.0,"Moderna, Pfizer/BioNTech"
21214,Latvia,2020-12-04,1.0,1.0,0.00,NaN,NaN,NaN,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
28895,Norway,2020-12-04,0.0,0.0,0.00,NaN,NaN,0.0,"Moderna, Pfizer/BioNTech"
21215,Latvia,2020-12-05,NaN,NaN,NaN,NaN,NaN,0.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."
...,...,...,...,...,...,...,...,...,...
29639,Pakistan,2021-09-06,63319214.0,48106755.0,21.36,20058377.0,8.91,1182525.0,"CanSino, Covaxin, Moderna, Oxford/AstraZeneca,..."
6809,Canada,2021-09-06,53829771.0,28120156.0,73.87,25709615.0,67.54,81797.0,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
30024,Panama,2021-09-06,4711715.0,2819641.0,64.35,1892074.0,43.18,50933.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
36494,South Sudan,2021-09-06,59865.0,53147.0,0.47,6718.0,0.06,388.0,Oxford/AstraZeneca
41328,Uruguay,2021-09-06,5779889.0,2686742.0,77.09,2530652.0,72.61,34491.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac"

In [32]:
print(f"Данные о вакцинации предоставлены от {vaccinations_data['date'].min()} до  {vaccinations_data['date'].max()}")

Данные о вакцинации предоставлены от 2020-12-02 00:00:00 до  2021-09-06 00:00:00

In [34]:
covid_df = covid_data.merge(vaccinations_data, how='left').sort_values(by='date')
display(covid_df)

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
39389,2020-01-22,Japan,2.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33822,2020-01-22,Hong Kong,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16251,2020-01-22,China,547.0,17.0,28.0,502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77965,2020-01-22,Thailand,4.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76636,2020-01-22,Taiwan,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69100,2021-05-29,Serbia,712046.0,6844.0,0.0,705202.0,274.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,36912.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
61856,2021-05-29,Peru,1947555.0,68978.0,1897522.0,-18945.0,5501.0,162.0,4728.0,4148590.0,2885452.0,8.65,1263138.0,3.79,114612.0,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm..."
36630,2021-05-29,Iran,2893218.0,79741.0,2425033.0,388444.0,7107.0,173.0,14781.0,NaN,NaN,NaN,NaN,NaN,100393.0,"COVIran Barekat, Covaxin, Oxford/AstraZeneca, ..."
76635,2021-05-29,Syria,24440.0,1763.0,21593.0,1084.0,30.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,1660.0,"Johnson&Johnson, Oxford/AstraZeneca, Sinopharm..."
38497,2021-05-29,Italy,4213055.0,126002.0,3845087.0,241966.0,3348.0,83.0,7569.0,34478345.0,23189845.0,38.41,11873061.0,19.67,513112.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ..."

In [37]:
covid_df.to_csv('data/covid_df.csv')
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86785 entries, 39389 to 38497
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 86785 non-null  datetime64[ns]
 1   country                              86785 non-null  object
 2   confirmed                            86785 non-null  float64
 3   deaths                               86785 non-null  float64
 4   recovered                            86785 non-null  float64
 5   active                               86785 non-null  float64
 6   daily_confirmed                      86564 non-null  float64
 7   daily_deaths                         86564 non-null  float64
 8   daily_recovered                      86564 non-null  float64
 9   total_vaccinations                   10629 non-null  float64
 10  people_vaccinated                    10007 non-null  float64
 11  people_vaccinated_per_hundred        10007 non-null  float64
 12  people_fully_vaccinated              7695 non-null   float64
 13  people_fully_vaccinated_per_hundred  7695 non-null   float64
 14  daily_vaccinations                   18264 non-null  float64
 15  vaccines                             18451 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 11.3+ MB

In [40]:
covid_df['death_rate'] = covid_df['deaths'] / covid_df['confirmed'] * 100
covid_df['recover_rate'] = covid_df['recovered'] / covid_df['confirmed'] * 100
round(covid_df[covid_df['country'] == 'United States']['death_rate'].max(), 2)
#covid_df.head(20)

7.19

In [41]:
round(covid_df[covid_df['country'] == 'Russia']['recover_rate'].mean(), 2)

67.06

In [1]:
croped_covid_df['confirmed_per_hundred'] = croped_covid_df['confirmed']/croped_covid_df['population'] * 100
pivot = croped_covid_df.pivot_table(
    values='confirmed_per_hundred',
    columns='date',
    index='country'
)
pivot.columns = pivot.columns.astype('string')
fig = plt.figure(figsize=(10, 5))

heatmap = sns.heatmap(data=pivot, cmap='plasma')
heatmap.set_title('Тепловая карта заболеваемости', fontsize=16)

NameError: name 'croped_covid_df' is not defined