In [3]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
student_data.shape

(1000, 8)

In [7]:
student_data.loc[155]

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [8]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [9]:
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [10]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [14]:
student_data['math score'].mean()

66.089

In [19]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [20]:
student_data[student_data['test preparation course']=='completed']['reading score'].mean()

73.89385474860335

In [24]:
student_data[student_data['math score']==0].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [26]:
student_data[student_data['lunch']=='standard']['math score'].mean()
#student_data[student_data['lunch']=='free/reduced']['math score'].mean()
#lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced

70.03410852713178

In [27]:
student_data[student_data['lunch']=='free/reduced']['math score'].mean()

58.92112676056338

In [28]:
student_data[student_data['parental level of education']=="bachelor's degree"].count()

gender                         118
race/ethnicity                 118
parental level of education    118
lunch                          118
test preparation course        118
math score                     118
reading score                  118
writing score                  118
dtype: int64

In [29]:
student_data.describe().loc[:, ['reading score', 'writing score']]

       reading score  writing score
count    1000.000000    1000.000000
mean       69.169000      68.054000
std        14.600192      15.195657
min        17.000000      10.000000
25%        59.000000      57.750000
50%        70.000000      69.000000
75%        79.000000      79.000000
max       100.000000     100.000000

In [32]:
student_data[student_data['race/ethnicity']=='group A'].describe().loc[:, ['reading score', 'writing score']]

       reading score  writing score
count      89.000000      89.000000
mean       64.674157      62.674157
std        15.543762      15.468278
min        23.000000      19.000000
25%        53.000000      51.000000
50%        64.000000      62.000000
75%        74.000000      73.000000
max       100.000000      97.000000

In [33]:
student_data[student_data['race/ethnicity']=='group C'].describe().loc[:, ['reading score', 'writing score']]

       reading score  writing score
count     319.000000     319.000000
mean       69.103448      67.827586
std        13.997033      14.983378
min        17.000000      10.000000
25%        60.000000      57.000000
50%        71.000000      68.000000
75%        78.500000      79.000000
max       100.000000     100.000000